<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{~/assets/img/hungry-hub-icon.png}">
    <title>Hungry Hub - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/aos.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/color.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/jquery.fancybox.min.css}">
</head>
<body>
<section class="hero-section about checkout" style="padding-top: 0; border-top: 0;" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="about-text pricing-table">
                    <h2 data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">Hungry Hub</h2>
                    <div data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
                        <h6 class="mb-0 pb-3"><span>Log In </span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="container">
        <div class="row">
            <div class="offset-xl-3 col-xl-6 col-lg-12" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
                <div class="checkout-form" >
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Username or Password</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success">You have been logged out.</div>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:id="_csrf"/>
                    <h4 class="two">Login</h4>
                    <br/>
                    <div id="getemail">
                        <form method="post" role="form" th:action="@{/login}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div >
                                <input type="email" name="username" placeholder="Registered Email" id="username">
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Your Password" id="password">
                            </div>
                            <input type="submit" class="button-price btn mt-4" >
                        </form>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-6" style="display: flex; justify-content: center;">
                                <a href="/forgotpassword" style="align-items: center; text-align: center">Forgot Password</a>
                            </div>
                            <div class="col-lg-6" style="display: flex; justify-content: center;">
                                <a href="/register">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:include="~{site/test_base::body_scripts}"></div>
</body>
</html>